body {
    display: flex; 
    align-items: center;   
    flex-direction: column;
    margin: 0;
    }
    
    #container {
        display: grid;
        justify-content: center;
        margin: 0rem;
        height: 900px;
        width: 900px;
    
    
    }
    
    .cell {
        border: 1px solid rgb(160, 160, 211);
    }
    
    .toggled {
    background-color: rgb(78, 78, 78);
    }
    
    button {
        margin: 1rem 0 0.5rem 0;
    }