#container {
    display: grid;
    grid-template: repeat(16, 3.5rem) / repeat(16, 3.5rem);
    justify-content: center;
    margin: 3rem;
}

.cell {
    border: 1px solid rgb(160, 160, 211);
}

.toggled {
background-color: rgb(78, 78, 78);

}